- title('Index')

%h1
  %i.fa.fa-home
  Artists

= form_tag controller: 'artists', action: 'search', method: :get do
  = search_field :artist, :name

- @artists.each do |artist|
  .artist
    = image_tag artist.listing_image
    = link_to artist.name, artist
